<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://lib.baomitu.com/socket.io/2.0.1/socket.io.js"></script>
</head>
<body>
  <form action="/img/upload" method="post" enctype="multipart/form-data">
    　　<input type="text" name="userName">
    　　<input type="file" name="fileparam">
    　　<button type="submit">上传</button>
    </form>

      　　<input type="text" name="roomId" id="roomId">
      　　<button onclick="joinRoom()">加入房间</button>
</body>
<script>
function joinRoom() {
  const roomId = document.getElementById("roomId").value;
  socket.emit('joinRoom',roomId);

}
var socket = io();
socket.on('system',(data)=>{
  console.log(data)
}  )
socket.on('opend', function(data) {
  console.log(data);
});
</script>

</html>